.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer {
    width: 800px;
    height: 800px;
    border: 8px solid grey;
    border-radius: 50%;
    background-color:red ;
}

.inner {
    width: 650px;
    height: 650px;
    border: 7px solid white;
    border-radius: 50%;
    background-color:white;
    transform: translate(10%, 10%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.needle{
    margin-top: 310px;
    margin-left: 200px;
    
}
#hour{
    transform: rotate(25deg);
    position: absolute;
    top: 375px;
    left: 321px;
}
#min{
    transform: rotate(75deg);
    position: absolute;
     top: 450px;
    left: 225px;
}
#sec{
    transform: rotate(110deg);
    position: absolute;
    top: 450px;
    left: 137px;
}
.needle > div{
    height: 5px;
    width: 290px;
    background-color: black;
    margin-top:10px;
}