body
{
	font-family: 'Marvel', sans-serif;
	background-image: url("bg.jpg");
 	background-repeat: no-repeat;
    background-size: 100%; 
}
#heading
{   display: flex;
	align-items: center;
	 justify-content: center;
	background: rgba(255,255,255,0.5);
	padding: 20px;
	border: 1px solid #00038c;
	box-shadow: 0 0 8px 3px #fff;
}
#text
{
	 text-align: center;
}
#quiz
{
	    height: 330px;
    	width: 60%;
    	position: absolute;
    	left:20%;
    	top: 30%;
    	transform: translateX(-50) translateY(-50);
		background: rgba(255,255,255,0.5);
		padding: 20px;
		border: 1px solid #00038c;
		box-shadow: 0 0 8px 3px #fff;
	
}
#question
{
   padding: 20px;
   font-size: 22px;
   background: #08038C;
   border-radius: 10px;
   margin: 10px 0 10px 0;
   color: #f6f6f6;
   font-weight: bold;
}
.option{
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 0;
	background: rgba(255,255,255,0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	 border: 2px solid #008CBA; 
	border-radius: 5px;
	font-weight: bolder;
	font-size: larger;
}

.option:hover{
	background: #08038C;
	color: #f6f6f6;	
}
#next
{
	font-family: 'Marvel', sans-serif; 
	background-color: #008CBA;
	width:10%;
	height: 4%px;
	border: 1px solid #00038c;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;;
	float: right;
	padding: 10px 10px;
	font-weight: bolder;
	
}
#next:hover{
	background-color:#00038c
}
#score
{
	position: absolute;
	right: 50%;
	bottom:10%;
	font-family: 'Marvel', sans-serif; 
	background-color:  #008CBA;

	border: 1px solid #00038c;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;;
	float: right;
	font-size: larger;
	font-weight: bolder;
	 padding: 5px 5px;
	
}
#score:hover{
		background-color:#00038c
}
#result
{
	font-size:100px;
	 text-align: center;
    	 height: 100px;
    	width: 60%;
    	position: absolute;
    	left:20%;
    	top: 30%;
    	transform: translateX(-50) translateY(-50);
		background: rgba(255,255,255,0.5);
		padding: 20px;
		border: 1px solid #00038c;
		box-shadow: 0 0 8px 3px #fff;
}

