@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #818181;
}
body {
  background-color: #000000;
}

.day17 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day17 h1 {
  padding: 20px 0;
  font-weight: lighter;
}

.card-container {
  padding: 10px;
  margin-bottom: 20px;
  width: 500px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(175, 175, 175);
  border-radius: 5px;
  border-color: #818181;
}

.day17 .card {
  width: 90%;
  background: #161618;
  padding: 5px 5px 26px;
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}
