div.options {
  * {
    border: 1px solid red;
  }
  > div {
    margin: 10px;
  }
  .switch {
    display: flex;
    .image {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      margin: 5px;
    }
    .user {
      margin-right: auto;
      margin-left: 0;
      .id {
        display: inline;
      }
    }
    .link {
      margin-right: 10px;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
