*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background: #ecbcb4; */
}

body{
    height: 100vh;
    width: 100%;

}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ecbcb4;
    height: 6vh;
    position: absolute;
    top: 5rem;    
    left: 39%;
    z-index: 1;
    width: 40vh;
    border-radius: 50px;
    background: linear-gradient(225deg, #eec4be, #ecbcb4);
    box-shadow:  -5px 5px 10px #1f1d1d,
                          5px -5px 10px #ffffff;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 4px solid #5B0E2D; */
    height: 90vh;
    width: 60%;
    margin: auto;
    background-attachment: fixed;
    margin-top: 7vh;
    position: relative;
    border-radius: 50px;
background: #ecbcb4;
box-shadow:  5px -5px 10px #c2b7b7,
             -5px 5px 10px #1f1d1d;
}

.left{
    /* T R B L */
    padding: 10px 50px 40px 30px;
}
.right{
    /* T R B L */
    padding: 70px 50px 40px 30px;
    padding-left: 40px;
}

.port {
    margin-bottom: 30px;
}

.border {
    border-left: 4px solid #5B0E2D;
    height: 65vh;
    box-shadow:  -5px 5px 5px #1f1d1d,
                          5px -5px 5px #ffffff;
}

ul {
    padding-left: 16px;
}