* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.outer {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
}

.cent {
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(194, 0, 113);
}

.sec {
  position: absolute;
  margin-left: 220px;
  width: 220px;
  height: 5px;
  background-color: rgb(88, 88, 88);
  border-radius: 5px;
  transform-origin: left;
  transform: rotate(-45deg);
}

.min {
  position: absolute;
  margin-left: 200px;
  width: 200px;
  height: 10px;
  background-color: rgb(245, 67, 171);
  transform-origin: left;
  border-radius: 5px;
  transform: rotate(45deg);
  transition: ease-out;
}

.hour {
  position: absolute;
  margin-left: 140px;
  width: 140px;
  height: 15px;
  background-color: rgb(233, 12, 141);
  transform-origin: left;
  transform: rotate(-45deg);
  border-radius: 5px;
}

.band {
  z-index: -1;
  position: absolute;
  width: 700px;
  height: 85px;
  background-color: rgb(241, 22, 248);
}
/* 
.animate {
  animation: seconds 10s linear;
  animation-iteration-count: infinite;
}
.animate2 {
  animation: seconds 50s linear;
  animation-iteration-count: infinite;
}
.animate3 {
  animation: seconds 100s linear;
  animation-iteration-count: infinite;
}

@keyframes seconds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
} */
